<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="my-4 text-center " ><i class="fa-solid fa-user-plus me-3 text-success"></i>Add Contact</h2>
            <p>Contact management, a digital method of storing data, can help you grow and diversify your customer base. As your business grows, it will get more challenging to collect data and determine which information is valuable to you, your employees and your company’s sustainability.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-6 ">
            <!--form-->
            <form class="m-2 border border-3 rounded p-4">
             <div class="mt-2">
                <input type="text" class="form-control" placeholder="Name">
             </div>
             <div class="mt-2">
                <input type="text" class="form-control" placeholder="Photo Url">
             </div>
             <div class="mt-2">
                <input type="text" class="form-control" placeholder="Mobile">
             </div>
             <div class="mt-2">
                <input type="text" class="form-control" placeholder="Email">
             </div>
             <div class="mt-2">
                <input type="text" class="form-control" placeholder="Company">
             </div>
             <div class="mt-2">
                <input type="text" class="form-control" placeholder="Title">
             </div>
             <div class="mt-2">
                <select name="" id="" class="form-control">
                    <option value="" selected hidden disabled>Group</option>
                    <option value="">Family</option>
                    <option value="">Friend</option>
                    <option value="">Company</option>
                </select>
             </div>
              <div class="mt-3">
                <input type="submit" value="create" class="btn btn-success">
                <a routerLink="/" class="btn btn-danger" style="float: right;">close</a>
              </div>
            </form>
        </div>
        <div class="col-2"></div>
    
        
        <div class="col-4">
         <!--img-->
         <img src="https://bizman.in/imgs/contact_avatar.png" width="390px" >
        </div>
    </div>
</div>
