<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="my-4 text-center " ><i class="fa-solid fa-eye text-success me-2"></i>View Contact</h2>
            <p>Contact management, a digital method of storing data, can help you grow and diversify your customer base. As your business grows, it will get more challenging to collect data and determine which information is valuable to you, your employees and your company’s sustainability.</p>
        </div>
    </div>

  <div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item">Name : {{contact.name}}</li>
            <li class="list-group-item">Email : {{contact.emial}}</li>
            <li class="list-group-item">Mobile :{{contact.phone}}</li>
            <li class="list-group-item">Company :{{contact.company}}</li>
            <li class="list-group-item">Title : {{contact.title}}</li>
            <li class="list-group-item">Group :{{groupName}}</li>
          </ul>
    </div>
    <div class="col-2"></div>
    <div class="col-4">
        <img [src]="contact.photo" width="300px" >
    </div>
  </div>
 <h1> <a routerLink="/" value="Go Back" class="" ><i class="fa-solid fa-circle-chevron-left text-success"></i></a></h1>



</div>
